---
import Section from '../Section.astro'
import SkillLayout from '../SkillLayout.astro'

const languages = ['JavaScript/TypeScript', 'Python', 'HTML/CSS', 'Go']
const frameworks = ['React', 'Flask', 'Express.js', 'Node.js', 'TailwindCSS', 'ShadCN UI']
const database = ['MongoDB', 'PostgreSQL', 'Firebase']
const tools = ['GitHub', 'Docker', 'GitHub Actions', 'Husky', 'DigitalOcean', 'AWS']
const others = ['Visual Studio Code', 'Obsidian', 'Coffee consumption']
---

<Section title='Skills'>
	<SkillLayout title='Languages' skills={languages} />
	<SkillLayout title='Frameworks and Libraries' skills={frameworks} />
	<SkillLayout title='Database' skills={database} />
	<SkillLayout title='Tools and Technologies' skills={tools} />
	<SkillLayout title='Others' skills={others} />
</Section>
